<h2> livre-detail </h2>

<a class="btn icon-btn btn-primary" routerLink="biblio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <span class="glyphicon btn-glyphicon glyphicon-book img-circle text-muted">
    </span>Biblio
</a>
<a class="btn icon-btn btn-primary" routerLink="auteur" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <span class="glyphicon btn-glyphicon glyphicon-user img-circle text-muted">
    </span>Auteur
</a>

<!--
<a class="btn icon-btn btn-primary" href="#"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>Like</a>
<a class="btn icon-btn btn-success" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
<a class="btn icon-btn btn-info" href="#"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>Share</a>
<a class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>Remove</a>
<a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Delete</a>-->

<hr>

<router-outlet></router-outlet>